/* General Container Styling */
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1F252E; /* Dark background */
    padding: 20px;
  }
  
  /* Title Styling */
  .skills-title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Grid Layout */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 900px;
    
  }
  
  /* Individual Skill Cards */
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #27293d; /* Card background */
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: 10px;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    
  }
  
  /* Skill Icon */
  .skill-icon {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
  }
  
  /* Skill Name */
  .skill-name {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
  }
  